
body {
  font-family: 'Lato', sans-serif;
}

:focus {
  outline: 0;
}

header {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

header > nav {
  height: 100%;
}

header button {
  height: 100%;
  padding: 0 1em;
  background-color: inherit;
  border-radius: 0;
}

header button:focus,
header button:hover {
  background-color: #555;
}

.header-logo {
  height: 44px;
}


main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

main > * {
  margin: 20px;
}

main .form {
  flex-basis: 400px;
  flex-grow: 1;
}

.preview-3d-pane {
  position: relative;
  flex-basis: 400px;
  flex-grow: 4;
}

.preview-3d-pane:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
  background-color: #333;
}

.preview-3d-pane > * {
  /* Canvas uses parent size to determine its own
   * size, so make sure nothing adds space in the
   * flow
   */
  position: absolute;
  top: 0;
  left: 0;
}

.preview-3d-pane .placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.preview-3d-pane canvas {
  transition: 0.5s opacity;
}

h3 {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.fields > * {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em 0;
  align-items: center;
}

.fields label {
  flex-basis: 8em;
}

.fields input {
  font-size: inherit;
  flex-basis: 10em;
}

.actions {
  margin: 0 -.5em;
  display: flex;
}

.actions > * {
  flex-grow: 1;
  margin: .5em;
}

.preset-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -.5em;
}

.preset-selector > * {
  margin: .5em;
}

.preset-selector button {
  width: 120px;
  height: 120px;
}

button, .button {
  background-color: #ddd;
  border-radius: 4px;
  overflow: hidden;
  padding: 0.5em;
  text-align: center;
}

button.primary,
.button.primary {
  background-color: #2f4f4f;

}

button:focus,
button:hover,
.button:focus,
.button:hover {
  background-color: #bbb;
}

button:active,
.button:active {
  transform: scale(0.95);
}

footer {

}

.modal-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(75, 75, 75, 0.5);
}

.modal-container.show {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal {
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  padding: 1em;
  margin: 2em;
  max-width: 700px;
}

.preview-2d {
  border: 1px solid black;
}

.preview-2d svg {
  width: 100%;
  height: 100%;
}

input.invalid {
  background-color: orange;
}
