/*
 * Adapted from Jay Denseric's fix.css:
 * https://github.com/jaydenseric/Fix
 *
 */

html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px/1 sans-serif;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}

main,
li {
  display: block;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: inherit;
}

input {
  font: inherit;
}

strong {
  font-weight: bold;
}

a,
button {
  color: inherit;
  transition: .2s;
}

a {
  text-decoration: none;
}

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* TODO: setup own default focus style
:focus {
    outline: 0;
}

*/

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
